@model Dictionary<string,string>

<table class="table table-bordered table-striped">
    <tr>
        <th>Key</th>
        <th>Value</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Key</td>
            <td>@item.Value</td>
        </tr>
    }

</table>

